body{
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("https://discovery-latam-prod.imgix.net/files/2020-04/Por-que-el-cielo-se-ve-azul_thumbnail.jpg?w=1280&h=720&crop=focalpoint&fp-x=0.50974025974026&fp-y=0.53030303030303&fit=crop&auto=compress&q=75");
}